
1-pflichtenheft/latex/functional_specification.aux

*.log

*.out

*.gz

*.toc

*.aux

*.nav

*.snm

*.xml

*.mf

2-entwurf/latex/design.synctex.gz(busy)
/3-implementierung/nbproject/private/
/3-implementierung/build/
/3-implementierung/dist/
3-implementierung/android/android.iml

3-implementierung/android/assets/badlogic.jpg

3-implementierung/android/build.gradle

3-implementierung/android/build/generated/source/buildConfig/debug/com/mygdx/game2/android/BuildConfig.java

3-implementierung/android/build/generated/source/buildConfig/test/debug/com/mygdx/game2/android/test/BuildConfig.java

3-implementierung/android/build/generated/source/r/debug/com/mygdx/game2/android/R.java

3-implementierung/android/build/intermediates/assets/debug/badlogic.jpg

3-implementierung/android/build/intermediates/classes/debug/com/mygdx/game2/android/AndroidLauncher.class

3-implementierung/android/build/intermediates/classes/debug/com/mygdx/game2/android/BuildConfig.class

3-implementierung/android/build/intermediates/classes/debug/com/mygdx/game2/android/R$attr.class

3-implementierung/android/build/intermediates/classes/debug/com/mygdx/game2/android/R.class

3-implementierung/android/build/intermediates/classes/debug/com/mygdx/game2/android/R$drawable.class

3-implementierung/android/build/intermediates/classes/debug/com/mygdx/game2/android/R$string.class

3-implementierung/android/build/intermediates/dex/debug/classes.dex

3-implementierung/android/build/intermediates/classes/debug/com/mygdx/game2/android/R$style.class

3-implementierung/android/build/intermediates/incremental/aidl/debug/dependency.store

3-implementierung/android/build/intermediates/incremental/aidl/test/debug/dependency.store

3-implementierung/android/build/intermediates/pre-dexed/debug/box2dlights-1.3-ee8502502c95f21aad89dea034d056425b08436f.jar

3-implementierung/android/build/intermediates/pre-dexed/debug/core-1.0-dd7382b33e455b4a989ee63f1113d912b18b9460.jar

3-implementierung/android/build/intermediates/pre-dexed/debug/gdx-1.4.1-dc85527b69b5a1a2bb350a3a73aa0afa66548949.jar

3-implementierung/android/build/intermediates/pre-dexed/debug/gdx-backend-android-1.4.1-efb066e7da4fd527b913c0bddb73823ac3b67982.jar

3-implementierung/android/build/intermediates/pre-dexed/debug/gdx-box2d-1.4.1-beedd9bd5da44efae3636da26823ac4891453a99.jar

3-implementierung/android/build/intermediates/res/debug/drawable-xhdpi-v4/ic_launcher.png

3-implementierung/android/build/outputs/apk/android-debug-unaligned.apk

3-implementierung/android/build/outputs/apk/android-debug.apk

3-implementierung/android/gen/com/mygdx/game2/android/Manifest.java

3-implementierung/android/libs/armeabi-v7a/libgdx-box2d.so

3-implementierung/android/libs/armeabi-v7a/libgdx.so

*.so

*.class

3-implementierung/.idea/.name

*.iml
