
1-pflichtenheft/latex/functional_specification.aux

*.log

*.out

*.gz

*.toc

*.aux

*.nav

*.snm

*.xml

*.properties

*.mf

2-entwurf/latex/design.synctex.gz(busy)
/3-implementierung/nbproject/private/
/3-implementierung/build/
/3-implementierung/dist/